body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}



.orange{
    color: orange;
}



section{
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}



.width{
    width: 50%;
    margin-left: 7%;
}



.line{
    line-height: 30px;
}



h1{
    font-size: 60px;
}



h2{
    font-size: 40px;
}



.link{
    color: white;
    background-image: linear-gradient(tomato,orange);
    border-radius: 40px;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 800;
   
}



.about-me-img{
    width: 40%;
}



.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size:cover;
}



.recipe{
    text-align: center;
    padding: 0px 30%;
    margin-bottom: 100px;
}



.recipe-item {
    padding: 20px;
    background: #fff;
    width: 400px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: left;
  }



  .img {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
  }



h3{
    font-size: 25px;
}



.social-follow{
    text-align: center;
    padding: 0px 13.5%;
}



.social{
    border-radius: 15px;
    padding: ;
    margin-left: 7%;
    margin-right: 7%;
    box-shadow: 0px 0px 15px gray;
}



.series{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 150px;
}



footer{
    padding: 5px;
    text-align: center;
    font-weight: 800;
background-color: black;
height: 150px;
width: 100%;
}



.white{
    color: white;
}



.space{
  word-spacing: 10px;
}



.grey{
    color: grey;
}



.youtube{
    font-size: 20px;
    color: red;
    text-decoration: none;
    font-weight: 800;
}



.instagram{
    font-size: 20px;
    color:hotpink;
    text-decoration: none;
    font-weight: 800;
}



.facebook{
    font-size: 20px;
    color:blue;
    text-decoration: none;
    font-weight: 800;
}
